body {
    font-family: 'Quicksand', sans-serif;
  background-color: #FFF8DC;
  color: #2F4F4F;
  text-align: center;
  font-weight: bold;
}
.scrolled{
    background-color: #2F4F4F;
}
h1{ 
    font-weight: 100;
}
.title{
    margin-top: 1rem;
    font-weight: bolder;
}
.card{
    background-color: #2F4F4F ;
    color: #FFF8DC;
    padding: 1rem;
    font-weight: lighter;
}

h5{
    background-color: #2F4F4F ;
    color: #FFF8DC;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1 rem;
    margin-bottom: 1rem;
}
h4{
    font-weight: bolder;
}

#contacto{
    background-color: #CD853F;
    color: #FFF8DC;
}
.contacto{
    background-color: #CD853F;
    color: #FFF8DC;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
footer{
    background-color: #2F4F4F;
    color: #FFF8DC;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.foot{
    text-align: end;
    vertical-align: middle;
}

